- function transformCategoryName1(name) { return `<span class="article__categories__icon octicon octicon-file-directory"></span>${name}` }

article.article
  header
    if page.categories && page.categories.length
      div.article__categories !{list_categories(page.categories, {show_count: false, class: 'article__categories', transform: transformCategoryName1})}
    h1.article__title= page.title
    if page.authors
      .author
        each author in page.authors
          .author__item
            span.author__name= author.name
            if author.title
              span.author__title= author.title
  main.content !{page.content}
  if page.date
    .date= `작성일: ${date(page.date)}`
  div.
    <div id="disqus_thread"></div>
    <script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://e-mazine.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
