- function transformCategoryName1(name) { return `<span class="article__categories__icon octicon octicon-file-directory"></span>${name}` }

article.article
  header
    if page.categories && page.categories.length
      div.article__categories !{list_categories(page.categories, {show_count: false, class: 'article__categories', transform: transformCategoryName1})}
    h1.article__title= page.title
    if page.authors
      .author
        each author in page.authors
          .author__item
            span.author__name= author.name
            if author.title
              span.author__title= author.title
  main.content !{page.content}
  if page.date
    .date= `작성일: ${date(page.date)}`
