- function transformCategoryName1(name) { return `<span class="article__categories__icon octicon octicon-file-directory"></span>${name}` }

article.article
  header
    if page.categories && page.categories.length
      div.article__categories !{list_categories(page.categories, {show_count: false, class: 'article__categories', transform: transformCategoryName1})}
    h1.article__title= page.title
    if page.author
      p.author
        span.author__name= page.author.name
        if page.author.title
          span.author__title= page.author.title
  main.content !{page.content}
